//colour variables
$dblue: rgba(27, 22, 66, 1);
$lblue: rgba(87, 90, 123, 1);
$purple: rgb(102, 88, 234);
$white: rgba(255, 255, 255, 1);
$lwhite: rgba(255, 255, 254, 1);
$simple: rgba(104, 125, 237, 1);
$black: rgba(27, 22, 66, 1);
$pgreen: rgba(44, 212, 162, 1);
$orange: rgba(255, 194, 103, 1);
$lorange: rgba(255, 194, 103, 0.8);
$grey: rgba(66, 66, 66, 1);
$lgrey: rgb(83, 83, 83);
$red: rgba(249, 101, 91, 1);
$babypink: rgba(255, 204, 204, 1);

$dmserif: "DM Serif Display", serif;
$dmsans: "DM Sans", sans-serif;

//maps
$weights: (
  "regular": 400,
  "medium": 500,
  "large": 700,
);
